<section class="internas-container">
    <div class="container-fluid" style="margin-top: 15px;">
      <div class="row">

        <div class="col-12 internas-text">
          {% trans %}
            <h2 class="blue">Como inserir sua produção científica</h2>
          {% endtrans %}
          {% trans %}
            <p>O UrbanData-Brasil reúne <b>trabalhos acadêmicos</b> que tratam de algum aspecto do <b>urbano brasileiro</b>. 
            Parafraseando o antropólogo Gilberto Velho, interessam-nos as produções científicas que derivam de pesquisas sobre as 
            cidades e/ou que, feitas nas cidades brasileiras, permitem conhecer melhor aquele determinado espaço. Para facilitar a 
            inserção e a busca posterior, tenha seu trabalho (ou o CV Lattes) em mãos e preencha o maior número possível de campos. 
            Quaisquer dúvidas ou sugestões, não hesite em nos contatar por email. O UrbanData-Brasil é de todas/os nós!</p>
          {% endtrans %}

          {% trans %}
            <h2 class="blue">Acesso</h2>
          {% endtrans %}
          {% trans %}
            <p>Para garantir a fidelidade dos dados que compõem o nosso banco bibliográfico, apenas pesquisadoras/es registrada/os podem inserir suas produções científicas.<br>
              Por favor, informe seu email cadastrado no campo abaixo e clique em “enviar”.<br>
              Caso seja o seu primeiro acesso, pedimos que preencha o formulário e siga as instruções.</p>
          {% endtrans %}

            <form id="controle-acesso" method="post">
              <div class="form-group">
                <label for="exampleInputEmail">e-mail*</label>
                <input id="email" name="email" type="email" class="form-control" placeholder="seunome@seuemail.com.br">
                <small id="emailHelp" class="form-text text-muted">Nós nunca iremos compartilhar seu email com mais ninguém!</small>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>

          <p>{% trans %}
              <br>
            Para esclarecer dúvidas e outras informações, escreva para <a href="mailto:contato@urbandata.org.br">contato@urbandata.org.br</a>
            {% endtrans %}</p>
        </div>

      </div>
  </div>
</section>
